* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background-color: #aceead;
}

/* NAVBAR */
header {
    background-color: #96ed96;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* LOGO */
.navbar__brand_logo {
    width: 100px;
    height: 80px;
}

.navbar__logo {
    padding-top: 10px;
    width: 100%;
}

/* HOME */
.navbar__items__home {
    font-size: 20px;
}

/* WEATHER */
.nabvar__items__weather {
    font-size: 25px;
}

.navbar__items__chart {
    font-size: 23px;
}

.navbar__items__settings {
    font-size: 20px;
}

.cursor:hover {
    border: 2px solid green;
    padding: 6px;
}

.container {
    max-width: 100%;
}

